# Add any directories, files, or patterns you don't want to be tracked by version control
*.iml
**/.idea/
.idea/
Userreport-survey-client/.gradle
Userreport-survey-client/local.properties
Userreport-survey-client/app/app-release.apk
Userreport-survey-client/survey-debug/
Userreport-survey-client/build
Userreport-survey-client/captures
Userreport-survey-client/.externalNativeBuild
Userreport-survey-client/app/build
Userreport-survey/.gradle
Userreport-survey/local.properties
Userreport-survey/app/app-release.apk
Userreport-survey/survey-debug/
Userreport-survey/build
Userreport-survey/captures
Userreport-survey/.externalNativeBuild
Userreport-survey/survey/build
Userreport-survey-client/userreport/
.gradle/*
Userreport-survey/userreport/build/*
.DS_Store

